head {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 16px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #45C4B0;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #042940;
    font-weight: bold;
}

.four-by-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
    color: #13678A;
}

h3>a {
    color: #005C53;
}

h3>a:hover {
    color: #003631;
}

a {
    text-decoration: none;
}

.nav-links:visited {
    color: white;
}

.nav-links:hover {
    color: gray;
}

.even-table-shade:nth-child(even) {
    background-color: lightgray;
}

img {
    box-shadow: 1px 1px 1px black;
    transition: transform 0.5s ease-in-out 0.5s, transform-origin 0.5s ease-in-out;
}

.left-side-img:hover {
    transform: scale(2);
    transform-origin: center left;
}
